/target
**/node_modules
**/.next
**/dist
**/build
/data
.env
.env.local
.DS_Store
*.log
coverage
.turbo
sample.bin
login.json
login-out.json
upload.json
chat.json
chat-out.json

snap.json
*.bin
.vercel
.fly
**/*.tsbuildinfo
**/.vercel

